.container {
    width: 80vw;
    margin: 10vh 10vw 10vh 10vw;
}

.container-button {
    margin-top: 3vh;
    margin-left: 65%;
    /*margin-right: 15%;*/
    display: flex;
    justify-content: space-between;
}
.container-button-modal {
    display: flex;
    margin-top: 3vh;
    justify-content: space-between;
    margin-left: 55%;
}
